*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:#666;
}
header a{
    padding:0 10px;
}
.active{
    color:#f60;
    font-weight: 700;
}
nav{
    height:35px;
    border:solid 1px #ccc;
    margin:20px;
    border-radius: 20px;
    text-align: center;
    line-height: 35px;
    display: flex;
}
nav a{
    flex:1;
    text-align: center;
}
nav a:first-child{
    border-right: solid 1px #ccc;
}
h1{
    text-align: center;
    padding:20px 0;
}
main{
    padding:20px;
}